<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- <app-prac [name]="title"
  (change)="onStateChange($event)"
  ></app-prac> -->

  <!-- <bootstrap-panel >
    <div class="heading">Heading</div>
    <div class="body">
      <h2>Body</h2>
      <p>Something blah</p>
    </div>
  </bootstrap-panel> -->
  <app-like
    [likedHitCount]="like.likedUser"
    [currLiked]="like.ifLiked"
  ></app-like>

  <!-- <app-zippy [zippy]="zTitle[0].title"
  [zippyContain]="zTitle[0].contain"
  ></app-zippy>
  <app-zippy [zippy]="zTitle[1].title"
  [zippyContain]="zTitle[1].contain"
  ></app-zippy> -->

  <signup-form></signup-form>
</div>

