<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPass">Old Password</label>
    <input
      id="oldPass"
      formControlName="oldPass"
      type="password"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="newPass">New Password</label>
    <input
      id="newPass"
      formControlName="newPass"
      type="password"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="passConf">New Password Confirm</label>
    <input
      id="passConf"
      formControlName="passConf"
      type="password"
      class="form-control">
  </div>
  <button>Submit</button>
</form>